/* CSS LAYOUT */
/* **************************************************************** */

/* VARIABLES */
:root {
    --margenExterno: 30px;
    --logoAltura: 80px;
    --longNav: 0.5;
}

/* HEADER */
header {
    background-color: var(--colorHeader);
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--margenExterno);
}

/* LOGO */
    .logo {
        height: var(--logoAltura);
    }

/* NAV */ 
nav {
    flex-grow: var(--longNav);
    display:flex;
    justify-content: space-between;
}